<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dylanfastdev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Myapplication"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:replace="android:theme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <meta-data
            android:name="design_width"
            android:value="750"
            tools:replace="android:value" />
        <meta-data
            android:name="design_height"
            android:value="1334"
            tools:replace="android:value" />

        <activity android:name=".TextActivity" android:hardwareAccelerated="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BActivity" />
    </application>


</manifest>