<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bluemobi.dylan.photoview">

    <application>
        <activity
            android:name=".ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePagerActivityTheme" />
    </application>

</manifest>
